<odoo>
  <!-- ACCIÓN -->
  <record id="action_open_dte_import_wizard" model="ir.actions.act_window">
    <field name="name">Importar DTE Venta (JSON)</field>
    <field name="res_model">dte.import</field>
    <field name="view_mode">list,form</field>
    <field name="target">current</field>
    <!-- SOLO ventas -->
    <field name="domain">[('move_type', 'in', ('out_invoice', 'out_refund'))]</field>
    <field name="context">{'default_move_type': 'out_invoice'}</field>
  </record>

  <record id="action_import_dte_purchase" model="ir.actions.act_window">
    <field name="name">Importar DTE Compra (JSON)</field>
    <field name="res_model">dte.import</field>
    <field name="view_mode">list,form</field>
    <field name="target">current</field>
    <!-- SOLO compras -->
    <field name="domain">[('move_type', 'in', ('in_invoice', 'in_refund'))]</field>
    <field name="context">{'default_move_type': 'in_invoice'}</field>
  </record>

  <record id="view_dte_import_tree" model="ir.ui.view">
    <field name="name">dte.import.tree</field>
    <field name="model">dte.import</field>
    <field name="arch" type="xml">
      <list>
        <field name="company_id"/>
        <field name="move_type"/>
        <field name="create_date"/>
        <field name="state"/>
      </list>
    </field>
  </record>

  <!-- SUBMENÚ -->
  <menuitem id="menu_open_dte_import_wizard"
            parent="account.menu_finance_receivables"
            name="Importar DTE (JSON)"
            action="action_open_dte_import_wizard"/>
  <menuitem id="menu_open_dte_import_wizard_purchase"
          parent="account.menu_finance_payables"
          name="Importar DTE (JSON)"
          action="action_import_dte_purchase"/>
</odoo>
